/*  */
html{
    font-size:62.5%;
}

body{
    font:normal 100% HYWenHei;
    font-size:14px;
    font-size:1.4rem;
}

.left{
    width:30%;
    float:left
}

.right{
    width:70%;
    float:right;
}

img{
    width:100%;
    -ms-interpolation-mode: bicubic;
}
